<div class='text-center'>
    <carousel>
        <slide>
          <img  class='img-size' src="assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img class='img-size' src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img class='img-size' src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>

</div>
